<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
<!--todo aggiungere il numero di partecipanti vicino ad ogni evento-->

</head>
<body>

<h1>All the events that your groups have published</h1>
<!--<div th:if="${user.getMemberships.isEmpty()}">-->
<!--  <h2>Your not part of any group!</h2>-->
<!--</div>-->
<!--<div th:unless="${user.getMemberships.isEmpty()}">-->
  <div th:if="${events.isEmpty() || events == null}">
    <h2>There are no events yet!</h2>
  </div>
  <div th:unless="${events.isEmpty() || events == null}">
    <form action="/event/searchBetween" method="post">

      <label for="fromDateTime"> From: </label>
      <input type="datetime-local" id="fromDateTime" name="fromDateTime"/>

      <label for="toDateTime">To: </label>
      <input type="datetime-local" id="toDateTime" name="toDateTime"/>


      <button type="submit">Search events in that period!</button>
    </form>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Group</th>
        <th scope="col">Title</th>
        <th scope="col">Creator</th>
        <th scope="col">Date and Time</th>
        <th scope="col">"Visualizza dettagli</th>
      </tr>
      </thead>
      <tbody>
          <tr th:each="event: ${events}">
            <td th:text="${event.getGroupName()}"></td>
            <td th:text="${event.getTitle()}"></td>
            <td th:text="${event.getCreator()}"></td>
            <td th:text="${event.getDateTime()}"></td>
            <td>
              <form action="/event/singleEvent" method="post">
                <input type="hidden" id="id_event" name="id_event" th:value="${event.getId()}"/>
                <button type="submit">View!</button>
              </form>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
<!--</div>-->

<h2> <a href="/user/home">Go back to the home page</a> </h2>

</body>
</html>