<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #f5e6cc;
        }

        .container {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .center-bottom {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Event Info</h1>
    <h2 th:text="'Event title: ' + ${event.getTitle()} "></h2>
    <h2 th:text="'Event description:' + ${event.getDescription()}"></h2>
    <h2 th:text="'Creation date: ' + ${#temporals.format(event.getDateTime(), 'HH:mm - dd/MM/yyyy')}"></h2>
</div>

<div class="container center-bottom">
    <h2><a href="/group/groups">Go back</a></h2>
</div>

</body>
</html>
