<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>Account login</h1>
<form action="/user/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>

    <button type="submit">Login</button>
</form>
<div>
    <h1>Don't have an account? Register <a href="/user/register">here</a>!</h1>
</div>
</body>
</html>