<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
</head>
<body>
  <h1>Welcome to your profile page</h1>
  <h2 th:text="'Username: ' + ${user.getUsername}"></h2>
<!--  <h2 th:text="'Gruppi ' + ${Username} "></h2>-->
  <table>
    <div th:if="${user.getGroupRightsDTO().isEmpty()}">
      <p>
        <h2>Your not part of any group!</h2>
      </p>
    </div>
    <div th:unless="${user.getGroupRightsDTO().isEmpty()}">
      <p>
        <thead>
        <tr>
          <th scope="col">Group</th>
          <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="groupRight: ${user.getGroupRightsDTO()}">
            <td th:text="${groupRight.getGroupName()}"/>
            <td th:text="${groupRight.getRole()}"/>
          </tr>
      </p>
    </div>
    </tbody>
  </table>

  <h3><a href="/user/logout">Logout from this account</a></h3>

  <h2> <a href="/user/home">Torna alla home</a> </h2>

</body>
</html>