<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <h1>Account creation</h1>
    <form action="/user/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"/>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password"/>

      <button type="submit">Register now</button>
    </form>
  <div>
  <h1>If you have already an account!</h1>
  <h2> <a href="/user/login">Click here!</a> </h2>
  </div>
</body>
</html>