<!DOCTYPE html>
<html lang="en">
<head>
<!--    todo fare tutto in italiano o inglese-->
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<h1>Your groups</h1>
<!--Visualizzazione dei gruppi a cui si fa parte-->
<table>
    <div th:if="${groups.isEmpty() or groups == null}">
        <h2>You're not part of any group!</h2>
    </div>
    <div th:unless="${groups.isEmpty() or groups == null}">
        <thead>
        <tr>
            <th scope="col">Group</th>
    <!--     TO-DO: al massimo aggiungere Data di iscrizione...   <th scope="col">Date of subscription</th>-->
        </tr>
        </thead>
        <tbody>
            <tr th:each="group: ${groups}">
                <td>
<!--                    se vuoi cambiare da bottone a hyperlink usa il link https://www.baeldung.com/spring-thymeleaf-request-parameters-->
                    <form action="/group/search" method="post" >
                        <button type="submit" th:name="nameSearch" th:value="${group.getName}" th:text="${group.getName}"></button>
                    </form>
                </td>

<!--                eventualmente mettere anche data di iscrizione-->
<!--                <td th:text="${membership.getRole}"/>-->
            </tr>
        </tbody>
    </div>
</table>

<!-- opzione di creazione di un gruppo -->
<h1>Group creation</h1>
<form action="/group/creation" method="post">
    <label for="name">Name of the group:</label>
    <input type="text" id="name" name="name"/>

    <button type="submit">Create group!</button>
</form>


<div th:if="${error!=null}">
    <h2 th:text="${error}"></h2>
</div>
<!-- opzione di ricerca di un gruppo -->
<h1>Group research</h1>
<!--<h2 th:if="${error != null}" th:text="${error}"></h2>-->
<form action="/group/search" method="post">
    <label for="nameSearch">Name of the group:</label>
    <input type="text" id="nameSearch" name="nameSearch"/>

    <button type="submit">Search group!</button>
</form>



<h2> <a href="/user/home">Go back to the home page</a> </h2>



</body>
</html>