<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event's Comments</title>
</head>
<body>
<h1>All the comments that your groups have in this event</h1>
<!--<div th:if="${user.getMemberships.isEmpty()}">-->
<!--  <h2>Your not part of any group!</h2>-->
<!--</div>-->
<!--<div th:unless="${user.getMemberships.isEmpty()}">-->
<div th:if="${comments.getCommentsDTO().isEmpty() || comments.getCommentsDTO() == null}">
    <h2>There are no comments yet!</h2>
</div>
<div th:unless="${comments.getCommentsDTO().isEmpty() || comments.getCommentsDTO() == null}">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Text</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments.getCommentsDTO()}">
            <td th:text="${comment.getUsername()}"></td>
            <td th:text="${comment.getText()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Have questions? Try posting a comment under!</h3>
<form action="/comment/postComment" method="post">
    <label for="comment">Comment</label>
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea>

    <input type="hidden" id="id_event" name="id_event" th:value="${comments.getIdEvent()}"/>

    <button type="submit">Post comment!</button>
</form>

<h2> <a href="/event/allEvents">Torna alla pagina eventi</a> </h2>

</body>
</html>