<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table>
    <tr>
        <th> <a href="/event/allEvents"> Home: Events</a></th>
        <th> <a href="/group/groups">Groups</a></th>
        <th> <a href="/event/myEvents">My events</a></th>
        <th> <a href="/user/profile">Profile</a></th>
    </tr>
</table>

</body>
</html>